[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
gunicorn = "*"
mysql-connector-python = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.11"
